@(cal : Calha)

@main("Gerenciar Calha") {
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Gerenciar Calha
        </div>
        <div class="panel-body">
          <form role="form" name="formCalha" onsubmit="return validaFormCalha()" action="/calha" method="post">
            <div class="form-group">
              <label>Calha</label>
              <input type="text" class="form-control" placeholder="" name="id">
            </div>
            <div class="form-group">
              <label>Dados Históricos</label>
              <textarea class="form-control counted" name="dadosHistoricos" placeholder="" rows="5" style="margin-bottom:10px;"></textarea>
            </div>
            <div class="form-group">
              <label>Listar Lajes Pertencentes á Calha</label>
              <textarea class="form-control counted" name="lajes" placeholder="" rows="5" style="margin-bottom:10px;"></textarea>
            </div>
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn">Confirmar</button>
              </div>
            </div>
          </form>
            <!-- /.row (nested) -->
        </div>
          <!-- /.panel-body -->
      </div>
        <!-- /.panel -->
    </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
}