@(Ams: Amostra, Col: Coleta, cal: Calha, laj: Laje)

@main("Gerenciar Amostra") {
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Gerenciar Amostra
        </div>
        <div class="panel-body">
          <form role="form" name="formCalha" action="/addAmostra" method="post">
            <div class="form-group">
              <label>Calha</label>
              <input type="text" class="form-control" placeholder="" value="@cal.getId()">
            </div>
            <div class="form-group">
              <label>Laje</label>
              <input type="text" class="form-control" placeholder="" name="@laj.getId()">
            </div>
            <div class="form-group">
              <label>Id Campanha</label>
              <input type="text" class="form-control" placeholder="" value="@Col.getId()">
            </div>
            <div class="form-group">
              <label>Id da Amostra</label>
              <input type="text" class="form-control" placeholder="" name="id">
            </div>
            <div class="form-group">
              <label>Data da Inserção</label>
              <input type="date" class="form-control" placeholder="" name="dataInsercao">
            </div>
            <div class="form-group">
              <label>Data de Exclusão</label>
              <input type="date" class="form-control" placeholder="" name="dataExclusao">
            </div>
            <div class="form-group">
              <label>Data da Coleta</label>
              <input type="date" class="form-control" placeholder="" name="dataColeta">
            </div>
            <div class="form-group">
              <label>Descrição da Amostra</label>
              <textarea class="form-control counted" name="descricao" placeholder="" rows="5" style="margin-bottom:10px;"></textarea>
            </div>
            <div class="form-group">
              <label>Coordenada da Amostra</label>
              <div class="row">
                <label class="col-sm-3 control-label">X : </label>
                <div class="col-xs-3">
                  <input type="text" class="form-control" name="coordenada.x" placeholder="">
                </div>
                <label class="col-sm-3 control-label">Y : </label>
                <div class="col-xs-3">
                  <input type="text" class="form-control" maxlength="14" name="coordenada.y">
                </div>
              </div>
            </div>
            <label>Inserir imagens</label>
            <div class="input-group">
              <input type="file" class="form-control" name="imagens">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Selecionar</button>
              </span>
            </div>
            <div class="form-group">
              <label>Comentários</label>
              <textarea class="form-control counted" name="comentarios" placeholder="" rows="5" style="margin-bottom:10px;"></textarea>
            </div>

            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn">Enviar Formulário</button>
              </div>
            </div>
          </form>
            <!-- /.row (nested) -->
        </div>
          <!-- /.panel-body -->
      </div>
        <!-- /.panel -->
    </div>
      <!-- /.col-lg-12 -->
  </div>
}