@()

@main("Welcome to Play") {
	<!-- <div id="map"></div> -->
	</br>
	<div class="row">
		<div class="col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Visão Geral</h4>
				</div>
				<div class="panel-body">
					<div id="map"></div>
						<!-- /.row (nested) -->
				</div>
					<!-- /.panel-body -->
			</div>
				<!-- /.panel -->
		</div>
			<!-- /.col-lg-12 -->
	</div>
	<script src="@routes.Assets.at("javascripts/ol.js")"></script>
	<link href="@routes.Assets.at("stylesheets/ol.css")" rel="stylesheet">
	<script src="@routes.Assets.at("javascripts/Calha-esquerda.js")"></script>
}

